

body {
background-image: url('../public/img/fondoweb.png');
background-repeat: no-repeat;
background-size: cover;
 }

 button{
  width: 150px;
  height: 150px;
  color:black;
  background-color: pink;
  border-radius: 80px;
 }