body {
    background-image: url('../public/img/fondoweb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.navbar {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login {
    background-color: #ff1493;
    display: flex;
    width: 55px;
    height: 55px;
    color: black;
    border-radius: 80px;
    margin-top: 1px;
    margin-left: 830px;
    box-shadow: 0 0 10px #ff1493, 0 0 20px #ff1493, 0 0 30px #ff1493, 0 0 40px #ff1493;
}
.corazon {
    fill: url(#degradado);
  }
  

